.profile__heading{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
